.checkedStepper {
  display: flex;
}

.step {
  position: relative;
  flex: 1;
}

.step:nth-child(1) .circleContainer::after {
  content: "1";
}

.step:nth-child(2) .circleContainer::after {
  content: "2";
}

.step:nth-child(3) .circleContainer::after {
  content: "3";
}

.circleContainer {
  position: absolute;
  left: 15px;
  height: 32px;
  width: 32px;
  border: 1px solid #afb1bd;
  border-radius: 50%;
  color: #afb1bd;
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.connectLine {
  display: block;
  width: 60px;
  height: 1px;
  background-color: #2a2a2a;
  position: absolute;
  top: 15.5px;
  right: calc(50%);
  left: calc(-50% + 40px);
}

.labelContainer {
  position: absolute;
  top: 5px;
  left: 60px;
}

.step.checked .circleContainer::after {
  content: "\2714";
}

.step.checked .circleContainer,
.step.active .circleContainer {
  background-color: #2a2a2a;
  color: #ffffff;
}

.step.checked .circleContainer .labelContainer,
.step.active .circleContainer .labelContainer {
  color: #18253d;
}